.fira-sans-thin {
  font-family: "Fira Sans", serif;
  
}


/* navbar start */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 150px;
}

.nav-title{
  font-size: 32px;
font-weight: 700;
}

.nav-btn{
  font-size: 18px;
font-weight: 600;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
}

/* navbar end */

/* banner start */

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 30px 150px;
  border-radius: 24px;
  padding: 80px 100px 80px 100px;
  background: rgb(198, 228, 214);

}

.banner-name{
  font-size: 24px;
font-weight: 500;
color: rgba(14, 14, 14, 0.5);
}

.banner-title{
  font-size: 56px;
font-weight: 700;
}

.banner-btn{
  font-size: 18px;
font-weight: 600;
color: rgb(255, 255, 255);
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
}

/* banner end */
