.fira-sans-thin {
  font-family: "Fira Sans", serif;
  
}

body{
  background-color: rgba(14, 14, 14, 0.15);;
}


/* navbar start */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 150px;
}

.nav-title{
  font-size: 32px;
font-weight: 700;
}

.nav-btn{
  font-size: 18px;
font-weight: 600;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
}

/* navbar end */

/* banner start */

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 30px 150px;
  border-radius: 24px;
  padding: 80px 100px 80px 100px;
  background: rgb(198, 228, 214);

}

.banner-name{
  font-size: 24px;
font-weight: 500;
color: rgba(14, 14, 14, 0.5);
}

.banner-title{
  font-size: 56px;
font-weight: 700;
}

.banner-btn{
  font-size: 18px;
font-weight: 600;
color: rgb(255, 255, 255);
border: none;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
}

/* banner end */

/* fast section start */
.pillars{
  margin: 30px 150px;
}

.pillars-title{

  font-size: 40px;
  font-weight: 700;
  
}

.pillars-card{
  display: flex;
  justify-content: space-between;
}

.cards{
  width: 302px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin: 0px 24px;
}

.cards-title{
  font-size: 20px;
font-weight: 700;
}


.cards-p{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

/* fast section end */


/* second section start */

.vision-section{
  margin: 30px 150px;
}

.vision-title{
  font-size: 40px;
font-weight: 700;
}

.vision-pera{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

.pack-container{
  display: flex;
  justify-content: space-between;
}

.pack{
  width: 410px;
  box-sizing: border-box;
border-radius: 16px;
padding: 32px;
background: rgba(84, 144, 245, 0.2);
  margin: 20px 24px;
}

.pack-title{
  font-size: 20px;
font-weight: 700;
color: rgba(14, 14, 14, 0.8);
}

.pack-pera{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

.pack-btn{
  font-size: 16px;
font-weight: 600;
border: none;
color: rgb(255, 255, 255);
border-radius: 8px;
background: rgb(84, 144, 245);
padding: 11px 20px 11px 20px;

}


.pack-1{
  width: 410px;
  box-sizing: border-box;
border-radius: 16px;
padding: 32px;
background: rgb(198, 228, 214);
  margin: 20px 24px;
}


.pack-btn-1{
  font-size: 16px;
font-weight: 600;
border: none;
color: rgb(255, 255, 255);
border-radius: 8px;
background: rgb(9, 161, 92);
padding: 11px 20px 11px 20px;

}


.pack-2{
  width: 410px;
  box-sizing: border-box;
border-radius: 16px;
padding: 32px;
background: rgb(247, 235, 207);
  margin: 20px 24px;
}


.pack-btn-2{
  font-size: 16px;
font-weight: 600;
border: none;
color: rgb(255, 255, 255);
border-radius: 8px;
background: rgb(255, 194, 57);
padding: 11px 20px 11px 20px;

}

/* second section end */

/* yunus section start */


.yunus{
  margin: 30px 150px;
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 48px 24px 48px 24px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;

}

.yunus-p{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.8);
}

.yunus-h{
  font-size: 20px;
font-weight: 600;
color: rgba(14, 14, 14, 0.8);
}

.yunus-c{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.6);
}

/* yunus section end */

/* resent news start */

.resent-news{
  margin: 30px 150px;
 
}

.resent-title{
  font-size: 40px;
  font-weight: 700;
}

.resent-p{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);

}

.resent-cards{
  margin-top: 30px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic{
  border-radius: 24px;
  margin: 0px 32px;
}

.cards-r-title{
  font-size: 32px;
font-weight: 700;
color: rgba(14, 14, 14, 0.8);
}

.cards-r-p-1{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

.cards-r-btn{
  font-size: 18px;
font-weight: 600;
color: rgb(255, 255, 255);
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 13px 26px 13px 26px;
border: none;

}
